# Masterlist overview

This notebook summarises some important properties of the data presented here. This includes

- The area covered by each field
- The number of total sources in each field
- The number of bands which we have data for in each field
- The size of the masterlist in each field

In [1]:
from astropy.table import Table, Column
import numpy as np

In [2]:
dr1 = [
# Field                suffix
['AKARI-NEP',          '20171202' ],
['AKARI-SEP',          '20180122'  ],
['Bootes',             '20180111'  ],
['CDFS-SWIRE',         '20180129' ],
['COSMOS',             '20180112' ],
['EGS',                '20171202' ],
['ELAIS-N1',           '20171016' ],
['ELAIS-N2',           '20171207' ],
['ELAIS-S1',           '20180122' ],
['GAMA-09',            '20171216' ],
['GAMA-12',            '20180129' ],
['GAMA-15',            '20180129' ],
['HDF-N',              '20171212' ],
['Herschel-Stripe-82', '20180113' ],
['Lockman-SWIRE',      '20171201' ],
['NGP',                '20171207' ],
['SA13',               '20171123' ],
['SGP',                '20180124' ],
['SPIRE-NEP',          '20171122' ],
['SSDF',               '20180122' ],
['xFLS',               '20171201' ],
['XMM-13hr',           '20171123' ],
['XMM-LSS',            '20180130' ]]

In [4]:
masterlist_summary = Table()
masterlist_summary.add_column(Column(data = np.array(dr1)[:,0], name = 'Field'))
masterlist_summary.add_column(Column(data =np.full(len(masterlist_summary), 0, dtype=int), name = '#Objects'))
masterlist_summary.add_column(Column(data =np.full(len(masterlist_summary), np.nan, dtype=float), name = '#Area (sq. degrees)'))
masterlist_summary.add_column(Column(data =np.full(len(masterlist_summary), np.nan, dtype=float), name = '#Size (MB)'))

In [ ]:
for field in dr1:
    number_objects = len(Table.read('dmu1_{}/data/master_catalogue_{}_{}.fits'.format(field[0], field[0], field[1])))
    masterlist_summary[masterlist_summary['Field'] == field[0]]['#Objects'] = number_objects
    
    area = 10.
    
    size = 10.

In [5]:
masterlist_summary.show_in_notebook()

In [ ]:
masterlist_summary.write('dr1_definition.fits')